<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>EDM</title>
  
</head>

<body>
  <div class="edm-wrap" style="display: block; font-family: Neue,Segoe UI,Helvetica,Arial,Lucida Grande,sans-serif; max-width: 720px; width: 100%;">
  <table align="center" width="100%" cellspacing="0" cellpadding="0" style="background-color: #fff; border: 0; border-collapse: collapse; border-spacing: 0;">
    <tbody>
      <!-- header -->
      <tr style="background-color: #fff; border: 0; margin: 0; padding: 0;">
        <td class="header" style="background-color: #fff; border: 0; margin: 0; padding: 0;">
          <table align="center" width="100%" cellspacing="0" cellpadding="0" style="background-color: #fff; border: 0; border-collapse: collapse; border-spacing: 0;">
            <tbody>
              <tr style="background-color: #fff; border: 0; margin: 0; padding: 0;">
                <td class="logo" style="background-color: #fff; border: 0; border-bottom: 1px solid #d6d6d6; border-top: 5px solid #202020; font-size: 0; line-height: 0; margin: 0; padding: 0 60px; text-align: right;">LOGO</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <!-- //header -->
      <tr style="background-color: #fff; border: 0; margin: 0; padding: 0;">
        <td class="body" style="background-color: #fff; border: 0; margin: 0; padding: 55px 60px 60px;">
          <table align="center" width="100%" cellspacing="0" cellpadding="0" style="background-color: #fff; border: 0; border-collapse: collapse; border-spacing: 0;">
            <tbody>
              <!-- body -->
              <tr style="background-color: #fff; border: 0; margin: 0; padding: 0;">
                <td clss="inner" style="background-color: #fff; border: 0; margin: 0; padding: 0;"><div class="title" style="font-size: 28px; font-weight: bold; letter-spacing: -2px;">회원정보 <em style="color: #e60012; font-style: normal;">이관 및 약관동의 </em> 안내</div></td>
              </tr>
              <tr style="background-color: #fff; border: 0; margin: 0; padding: 0;">
                <td clss="inner" style="background-color: #fff; border: 0; margin: 0; padding: 0;"><div class="con_txt" style="color: #5e5e5e; font-size: 16px; letter-spacing: -1px; line-height: 1.5; margin-top: 20px;">2020년 3월부터 보다 좋은 서비스를 위하여 OOO 회원으로 이관하여 운영됩니다. <br>
                  OOO 회원 이관 동의 하시면 인증 절차 없이 기존 가입한 아이디로 간편하게 <br>전환됩니다. <br>
                  OOO 회원 전환하시고 보다 편리하게 이용해보세요. 
                  </div>
                </td>
              </tr>
              <!-- //body -->
            </tbody>
          </table>
        </td>
      </tr>
      <!-- Footer -->
      <tr style="background-color: #fff; border: 0; margin: 0; padding: 0;">
        <td class="footer" style="background-color: #202020; border: 0; margin: 0; padding: 35px 60px 40px;">
          <table align="center" width="100%" cellspacing="0" cellpadding="0" style="background-color: #202020; border: 0; border-collapse: collapse; border-spacing: 0;">
            <tbody>
              <tr style="background-color: #fff; border: 0; margin: 0; padding: 0;">
                <td colspan="2" class="info" style="background-color: #202020; border: 0; border-bottom: 1px solid #383838; color: #b6b6b6; font-size: 14px; line-height: 1.8; margin: 0; padding: 0; padding-bottom: 30px;">
                  본 메일은 발신 전용이므로 회신하실 경우 답변되지 않으며, 문의사항은 <a href="#" class="link-btn" style="color: #fff; text-decoration: underline;"> 홈페이지 고객센터</a> 를
                  이용하여 주시기 바랍니다.  메일을 원하시지 않을 경우, 로그인 후 회원정보변경에서 이메일 수신여부를 
                  변경하시기 바랍니다.
                </td>
              </tr>
              <tr style="background-color: #fff; border: 0; margin: 0; padding: 0;">
                <td class="copy" style="background-color: #202020; border: 0; color: #616161; font-size: 14px; letter-spacing: -1px; margin: 0; padding: 0; padding-top: 30px;">
                  <span>Copyright© 2020 OOO CO., INC. All right reserved </span>
                </td>
                <td class="link" style="background-color: #202020; border: 0; color: #b6b6b6; font-size: 14px; margin: 0; padding: 0; padding-top: 30px; text-align: right;">
                  <a href="#" target="_blank" class="box-btn" style="border: 1px solid #616161; color: #6e6e6e; font-size: 14px; padding: 10px 20px; text-decoration: none;">홈페이지 바로가기</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <!-- //footer -->

<!-- stykey -->
      <%- include('../include/_sticky_ko.ejs') %>
<!-- // stykey -->
    </tbody>
  </table>
  </div>
</body>
</html>