<header class="main-header header">
    <div class="header_beltbox"> 
        <span class="header_beltTit">
            <a href="#">구매수수료율 인상 및 약관 개정안내<span class="beltbanner-triangle"></span></a>
        </span> 
        <span class="beltclose-btn"></span> 
    </div> 

    <ul class="header_utilitymenu wrap_padding pc-ver">
        <li><a href="/index_en.html">ENG</a></li> 
        <li><a href="#">회원가입</a></li> 
        <li><a href="#">로그인</a></li>
    </ul>   

    <nav class="header_nav wrap_padding">
        <a href="#" class="header_logo"><span class="blind-text">logo</span></a>
        <ul class="header_gnbmenu pc-ver"> 
            <li><a href="#" class="">AUCTION</a></li> 
            <li><a href="#">PRIVATE SALE</a></li>
            <li><a href="#">SELL</a></li>
            <li><a href="#">SERVICE</a></li> 
        </ul> 

        <section class="gnb_submenuBg">  
            <section class="submenuBg"> 
                <span class="submenuBg-closeBtn m-ver"></span>
                <div class="flex_wrap">                        
                    <div class="Ingbanner-box">
                        <a href="#" class="Ingbanner" target="_blank"> 
                            <figure class="border-txt-darkg Ingbanner-img">
                                <img src="/images/pc/thumbnail/gnb_thubnatil_01.jpg" alt="ing_auction01"> 
                            </figure>  
                            <div class="Ingbanner-txt">
                                <span class="auctionKind-box Ingkind-auction on">LIVE</span>
                                <p>2월 라이브 경매</p> 
                                <span class="Ingbanner-arrow"></span> 
                            </div>
                        </a>
                        <a href="#" class="Ingbanner" target="_blank"> 
                            <figure class="border-txt-darkg Ingbanner-img">
                                <img src="/images/pc/thumbnail/gnb_thubnatil_02.jpg" alt="ing_auction02"> 
                            </figure>
                            <div class="Ingbanner-txt">
                                <span class="auctionKind-box Ingkind-auction">ONLINE</span>
                                <p>e BID 퍼블릭 온라인 경매</p>  
                                <span class="Ingbanner-arrow"></span>  
                            </div>
                        </a>
                        <a href="#" class="Ingbanner" target="_blank"> 
                            <figure class="border-txt-darkg Ingbanner-img">
                                <img src="/images/pc/thumbnail/gnb_thubnatil_ready.jpg" alt="ing_auction03"> 
                            </figure>
                            <div class="Ingbanner-txt">
                                <span class="auctionKind-box Ingkind-auction">ONLINE</span>
                                <p>ZEROBASE</p> 
                                <span class="Ingbanner-arrow"></span> 
                            </div>
                        </a>
                        <a href="#" class="Ingbanner" target="_blank"> 
                            <figure class="border-txt-darkg Ingbanner-img">
                                <img src="/images/pc/thumbnail/gnb_thubnatil_01.jpg" alt="ing_auction01"> 
                            </figure>  
                            <div class="Ingbanner-txt">
                                <span class="auctionKind-box Ingkind-auction on">LIVE</span>
                                <p>2월 라이브 경매</p> 
                                <span class="Ingbanner-arrow"></span> 
                            </div>
                        </a>
                        <a href="#" class="Ingbanner" target="_blank">  
                            <figure class="border-txt-darkg Ingbanner-img">
                                <img src="/images/pc/thumbnail/gnb_thubnatil_02.jpg" alt="ing_auction02"> 
                            </figure>
                            <div class="Ingbanner-txt">
                                <span class="auctionKind-box Ingkind-auction">ONLINE</span>
                                <p>e BID 퍼블릭 온라인 경매</p>  
                                <span class="Ingbanner-arrow"></span>  
                            </div>
                        </a>
                    </div>

                    <ul class="subGnbmenu">  
                        <li class="subGnbmenu-tit"><span class="gnbmenu_arrow">AUCTION<span></span></span>
                            <ul class="submenu submenu-part01">  
                                <li><a href="#">진행경매</a><span class="currentIng">NOW</span></li>
                                <li><a href="#">예정경매</a></li>
                                <li><a href="#">경매결과</a></li>
                            </ul>
                        </li> 
                        <li class="subGnbmenu-tit"><span class="gnbmenu_arrow">PRIVATE SALE<span></span></span>  
                            <ul class="submenu submenu-part02">
                                <li><a href="#">전시</a></li>
                                <li><a href="#">프라이빗 세일</a></li>
                                <li><a href="#">프라이빗 세일 가이드</a></li>
                            </ul>
                        </li>
                        <li class="subGnbmenu-tit"><span class="gnbmenu_arrow">SELL<span></span></span>   
                            <ul class="submenu submenu-part03">
                                <li><a href="#">위탁안내</a></li>
                                <li><a href="#">위탁신청</a></li> 
                            </ul>
                        </li> 
                        <li class="subGnbmenu-tit"><span class="gnbmenu_arrow">SERVICE<span></span></span>    
                            <ul class="submenu submenu-part04">
                                <li><a href="#">아카데미</a><span class="currentIng">NOW</span></li> 
                                <li><a href="#">담보대출</a></li> 
                                <li><a href="#">미술품보관</a></li> 
                                <li><a href="#">전시장대관</a></li> 
                                <li><a href="#">아트컨설팅&#38;기업마케팅</a></li> 
                            </ul>
                        </li> 
                        <li class="subGnbmenu-tit m-ver"> 
                            <span class="gnbmenu_arrow modebox">Light Mode
                                <label for="dark" class="mode-toggle">
                                    <input type="checkbox" id="dark" name="dark"> 
                                    <span class="mode-switch"></span>    
                                </label> 
                            </span> 
                        </li> 
                        <li class="subGnbmenu-tit m-ver">  
                            <ul class="mobile-utility">
                                <li><a href="#">로그인</a></li> 
                                <li><a href="#" class="member.off">회원가입</a><a href="#" class="member">마이페이지</a></li>   
                                <li><a href="/index_en.html">ENG</a></li>  
                            </ul>
                        </li> 
                    </ul> 
                    <figure class="blacklotbox">
                        <a href="https://www.blacklot.com/" target="_blank"> 
                            <img src="/images/pc/thumbnail/gnb_blacklot.jpg" alt="blacklot">    
                        </a> 
                    </figure>
                </div> 
            </section>
        </section>  

        <section class="topsearch-box">
            <form action="">  
                <fieldset class="topsearch"> 
                    <legend class="blind-text">topsearch</legend>
                    <input type="text" class="topsearch-text pc-ver" placeholder="작가 또는 작품명 검색">
                </fieldset> 
                <span class="topsearch-btn"></span>
            </form>  
        </section> 
    </nav>
</header>