<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.aws.ArtistMapper">

    <select id="selectRecommandArtist" parameterType="CommonMap" resultType="CommonMap">
        select sr.artist_no, sr.artist_name
        from search_recommend sr
        where sr.status = 'A'
        order by sr.sort asc
            limit 6;
    </select>

    <select id="selectArtistInfo" parameterType="CommonMap" resultType="CommonMap">
        select a.id, a.artist_no, a.country_code, a.name,
               a.birth, a.death, a.education, a.exhibition,
               a.profile, a.homepage, a.sns_account, a.media,
               a.articles, a.is_open
        from artist a
        where a.is_open = 'Y' and  a.status = 'A'
        and a.artist_no = #{artist_no};
    </select>

</mapper>