<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.aws.FooterMapper">
    <!--FAQ -->
    <select id="selectFaqs" parameterType="CommonMap" resultType="CommonMap">
        SELECT
            *
        FROM
            faq
        WHERE
            IS_OPEN = 'Y'
            AND STATUS = 'A'
            AND FAQ_TYPE = #{faq_type}
            <if test="search !=null">
                AND JSON_UNQUOTE(JSON_EXTRACT( TITLE, "$.${lang}" )) like #{search} '%'
            </if>
        ORDER BY
            CREATED_AT desc
    </select>
    <!--언론 보도 -->
    <select id="selectContentPress" parameterType="CommonMap" resultType="CommonMap">
        SELECT
            *,
            date_format(press_date, '%Y.%m.%d') dt_date
        FROM
            content_press
        WHERE
            STATUS = 'A'
            AND LANG = #{langs}
        <if test="search !=null">
            AND TITLE like #{search} '%'
        </if>
        ORDER BY
            CREATED_AT desc
        limit
            #{offset} , #{size}
    </select>
    <!--언론 보도 총 카운트 -->
    <select id="selectCountContentPress" parameterType="CommonMap" resultType="int">
        SELECT
            count(*)
        FROM
            content_press
        WHERE
            STATUS = 'A'
            AND LANG = #{langs}
        <if test="search !=null">
            AND TITLE like #{search} '%'
        </if>
    </select>
    <!--채용 공고 -->
    <select id="selectRecruits" parameterType="CommonMap" resultType="CommonMap">
        SELECT
            *,
            IF( date_format(end_at, '%Y.%m.%d')  <![CDATA[ < ]]> date_format(now(), '%Y.%m.%d') , 'Y' , 'N') AS is_over,
            date_format(start_at, '%Y.%m.%d') start_date,
            date_format(end_at, '%Y.%m.%d') end_date
        FROM
            recruit
        WHERE
            STATUS = 'A'
            AND IS_OPEN = 'Y'
            -- AND NOW() >= START_AT
            -- AND NOW()  <![CDATA[ <= ]]> END_AT
        <if test="search !=null">
            AND TITLE like #{search} '%'
        </if>
        ORDER BY
            SORT , CREATED_AT desc
        limit
            #{offset} , #{size}
    </select>
    <!--채용 공고 카운트 -->
    <select id="selectCountRecruits" parameterType="CommonMap" resultType="int">
        SELECT
            count(*)
        FROM
            recruit
        WHERE
          STATUS = 'A'
          AND IS_OPEN = 'Y'
          -- AND NOW() >= START_AT
          -- AND NOW()  <![CDATA[ <= ]]> END_AT
        <if test="search !=null">
            AND TITLE like #{search} '%'
        </if>
    </select>
    <!--채용 공고 단일-->
    <select id="selectRecruitById" parameterType="CommonMap" resultType="CommonMap">
        SELECT
            *,
            date_format(start_at, '%Y.%m.%d') start_date,
            date_format(end_at, '%Y.%m.%d') end_date
        FROM
            recruit
        WHERE
            STATUS = 'A'
            AND IS_OPEN = 'Y'
            AND ID = #{id}
        LIMIT
            1
    </select>

    <!--공지 사항 -->
    <select id="selectNotices" parameterType="CommonMap" resultType="CommonMap">
        SELECT
            *,
            date_format(created_at, '%Y.%m.%d') dt_date
        FROM
            notice
        WHERE
            STATUS = 'A'
            AND IS_OPEN = 'Y'
            <if test="search !=null">
                AND JSON_UNQUOTE(JSON_EXTRACT( TITLE, "$.${lang}" )) like #{search} '%'
            </if>
        ORDER BY
            CREATED_AT desc
        limit
            #{offset} , #{size}
    </select>
    <!--공지 사항 단일-->
    <select id="selectNoticeById" parameterType="CommonMap" resultType="CommonMap">
        SELECT
            *,
            date_format(created_at, '%Y.%m.%d') dt_date
        FROM
            notice
        WHERE
            STATUS = 'A'
            AND IS_OPEN = 'Y'
            AND ID = #{id}
        LIMIT
            1
    </select>
    <!--공지 사항 총 카운터 -->
    <select id="selectCountNotices" parameterType="CommonMap" resultType="int">
        SELECT
            count(*)
        FROM
            notice
        WHERE
          STATUS = 'A'
          AND IS_OPEN = 'Y'
            <if test="search !=null">
                AND JSON_UNQUOTE(JSON_EXTRACT( TITLE, "$.ko" )) like #{search} '%'
            </if>
    </select>

    <insert id="insertRecruitApply" parameterType="CommonMap"
            useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT into recruit_apply
            (
                  RECRUIT_ID
                , NAME
                , PHONE_NUMBER
                , EMAIL
            )
            values
            (
                  #{recruit_id}
                , #{name}
                , #{phone_number}
                , #{email}
            )
    </insert>
</mapper>