<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.aws.MainMapper">

    <select id="selectBeltBanners" parameterType="CommonMap" resultType="CommonMap">
        select mb.*, s3.id as s3id, s3.cdn_url
        from main_banner mb
             join s3file_data s3fd on mb.id = s3fd.row_id and s3fd.group_name = 'main_banner'
             join s3file s3 on s3fd.s3file_id = s3.id
        where banner_type = 'middle-rolling'
            and mb.status = 'A'
        order by mb.sort desc;
    </select>

    <select id="selectNewsletters" parameterType="CommonMap" resultType="CommonMap">
        SELECT *
        FROM content_newsletter
        LIMIT #{offset} , #{size}
    </select>

    <select id="selectNewsletterById" parameterType="CommonMap" resultType="CommonMap">
        SELECT *
        FROM content_newsletter
        WHERE id = #{id}
    </select>
    <select id="insertNewsletter" parameterType="CommonMap">
        INSERT INTO newsletter_subscriber
            ( name , email , is_subscribe )
        VALUES
            ( #{name} , #{email} , 'Y' )
    </select>

    <select id="selectNewsletterForOverlapCheck" parameterType="CommonMap" resultType="CommonMap">
        SELECT
            *
        FROM
            newsletter_subscriber
        where
            name  = #{name}
            and email = #{email}
        limit
            1
    </select>

</mapper>