<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.kt.AppMapper">

	<select id="selectCustByLoginId" parameterType="CommonMap"
			resultType="CommonMap">

	</select>

	<insert id="insertAppInfo">

	</insert>

	<update id="updateAppInfo" parameterType="CommonMap">

	</update>

	<select id="selectToken" parameterType="CommonMap"
			resultType="CommonMap">

	</select>

	<insert id="insertLoginToken">

	</insert>

	<delete id="deleteLoginToken" parameterType="CommonMap">

	</delete>

	<select id="selectLoginByToken" parameterType="CommonMap"
			resultType="CommonMap">

	</select>

</mapper>