<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.kt.AppMapper">

	<select id="selectCustByLoginId" parameterType="CommonMap"
			resultType="CommonMap">

	</select>

	<insert id="insertAppInfo">

	</insert>

	<update id="updateAppInfo" parameterType="CommonMap">

	</update>

	<select id="selectLoginToken" parameterType="CommonMap"
			resultType="CommonMap">
		SELECT
		    TOKEN_NO
		     , CUST_NO
		     , TOKEN
		     , EXPIRED_DT
		     , LOGIN_DT
		     , REG_DT
		FROM CUST_LOGIN_TOKEN
		WHERE CUST_NO = #{cust_no}
	</select>

	<insert id="insertLoginToken">
		insert into
			CUST_LOGIN_TOKEN
		(
			CUST_NO,
			TOKEN,
			EXPIRED_DT,
			LOGIN_DT,
			REG_DT
		)
		values
		(
			#{cust_no},
			#{token},
			DATE_ADD(now(), INTERVAL 1 YEAR),
			now(),
			now()
		)
	</insert>

	<delete id="deleteLoginToken" parameterType="CommonMap">

	</delete>

	<select id="selectLoginByToken" parameterType="CommonMap"
			resultType="CommonMap">

	</select>

</mapper>