<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.kt.KTAdminMapper">

	<select id="selectActiveSales" parameterType="CommonMap" resultType="CommonMap" >
		-- 메뉴 count (진행경매/예정경매/전시/아카데미)
		select
			S.sale_no,
			COLUMN_JSON(S.TITLE_BLOB) SALE_TITLE_JSON
		from
		     SALE S
		where
		      S.DEL_YN = 'N'
		  and S.WWW_DISP_YN = 'Y'
		  and S.SALE_OUTSIDE_YN = 'N'
		  and S.TO_DT <![CDATA[ >= ]]> DATE_SUB(NOW(), INTERVAL ${month} MONTH)
		limit
			#{offset} , #{size}
	</select>




</mapper>

