<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.kt.KTAdminMapper">

	<select id="selectActiveSales" parameterType="CommonMap" resultType="CommonMap" >
		-- 메뉴 count (진행경매/예정경매/전시/아카데미)
		select
			S.SALE_NO,
			COLUMN_JSON(S.TITLE_BLOB) SALE_TITLE_JSON,
		    S.SALE_TH SALE_TH,
			DATE_FORMAT(S.TO_DT,'%Y-%m-%d') FROM_DT
		from
		     SALE S
		where
-- 		      S.DEL_YN = 'N'
-- 		  and S.WWW_DISP_YN = 'Y'
-- 		  and S.SALE_OUTSIDE_YN = 'N'
		   S.REG_DT <![CDATA[ >= ]]> DATE_SUB(NOW(), INTERVAL ${month} MONTH)
		order by
			-- S.REG_DT desc
			S.SALE_NO DESC
		limit
			#{offset} , #{size}
	</select>

	<select id="selectArtistByNo" parameterType="CommonMap" resultType="CommonMap" >
		select
		    ARTIST_NO,
			COLUMN_JSON(ARTIST_NAME_BLOB) ARTIST_NAME_BLOB,
		    NATION_CD,
		    BORN_YEAR,
		    DIE_YEAR
		from
			ARTIST
		where
			ARTIST_NO = #{no}
			and DEL_YN = 'N'
		LIMIT
			1
	</select>
	<select id="selectCode" parameterType="CommonMap" resultType="CommonMap" >
		select
			CD_ID,
			CD_NM
		from
			CODE
		where
			GRP_ID = #{grp_id}
		order by
			DISP_ORD
	</select>




</mapper>


