<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.kt.MainMapper">
	<select id="selectUpcomings" parameterType="CommonMap" resultType="CommonMap">
		select SALE_NO
			 , SALE_KIND_CD
			 , COLUMN_JSON(TITLE_BLOB) AS TITLE_BLOB
			 , WWW_DISP_YN
			 , FROM_DT
			 , TO_DT
		-- , OPEN_DT
		from SALE
		where DEL_YN = 'N'
		  and STAT_CD != 'open'
			and WWW_DISP_YN = 'Y'
			and TO_DT >= now()
	</select>
</mapper>