<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.kt.PaymentMapper">

	<!--공통 페이 먼트 기록 테이블-->
	<insert id="insertPay" parameterType="commonMap"
			useGeneratedKeys="true"
			keyProperty="pay_no" keyColumn="PAY_NO">
		INSERT into PAY (
			  CUST_NO
			, PAY_METHOD_CD
			, PG_YN
			, PG_CD
			, PG_TRANS_ID
			, PAYER
			, PAY_PRICE
			, NO_VAT_PRICE
			, VAT_PRICE
			, VAT
			, PAY_DT
			, REG_DT
			, PAY_WAIT_NO
			, RCPT_TYPE
			, REAL_PAYER
		) values (
			 #{cust_no}
			,lower(#{pay_method})
			, 'Y'
			, #{pg_cd}
			, #{pg_trans_id}
			, #{payer}
			, #{pay_price}
			, #{no_vat_price}
			, #{vat_price}
			, #{vat}
			, now()
			, now()
			, #{pay_wait_no}
			, #{rcpt_type}
			, #{real_payer}
		);
	</insert>

	<select id="selectPayByPayNoAndCustNo" resultType="commonMap" parameterType="commonMap">
		SELECT
			*
		FROM
		    PAY
		WHERE
			PAY_NO = #{pay_no}
		and CUST_NO = #{cust_no};
	</select>

	<!--정회원 결제 테이블-->
	<insert id="insertCustPay" parameterType="commonMap">
		insert into CUST_PAY (
			   CUST_NO
			 , PAY_NO
			 , VALID_FROM_DT
			 , VALID_TO_DT
		) values (
			   #{cust_no}
			 , #{pay_no}
			 , now()
			 , DATE_SUB((date_format(DATE_ADD(now(), INTERVAL 1 YEAR) ,'%Y-%m-%d')) , interval 1 second) /*1년 뒤 1하루 전 23:59:59초*/
			 );
	</insert>

	<!-- 작품 결제  -->
	<insert id="insertLotPay" parameterType="commonMap">
		insert into LOT_PAY (
			  SALE_NO
			, LOT_NO
			, PAY_NO
			, FEE_KIND_CD
		) values (
			   #{sale_no}
			 , #{lot_no}
			 , #{pay_no}
			 , 'payment'
		 );
	</insert>
	<update id="updateLotFeeForPayment" parameterType="commonMap">
		update
			LOT_FEE
		SET
			FEE = cast(greatest(
							   least((#{bid_price} - (ifnull(PRICE_FROM, 1) - 1))
								   , (ifnull(PRICE_TO, #{bid_price}) - (ifnull(PRICE_FROM, 1) - 1)))
						   , 0) * (RATE / 100) as int)
		  , MOD_DT = now()
		where
			SALE_NO = #{sale_no} and LOT_NO = #{lot_no};
	</update>

	<select id="selectLotBidPrice" parameterType="commonMap" resultType="commonMap">
		<![CDATA[
		select L.SALE_NO, L.LOT_NO, B.BID_PRICE
		from LOT L
		inner join (select MAX(BID_PRICE) as bid_price from BID where SALE_NO = #{sale_no} and LOT_NO = #{lot_no}) B
		where L.sale_no = #{sale_no}
		and L.lot_no = #{lot_no}
		and L.to_dt <= now();
		]]>
	</select>

	<select id="get_sale_fee" parameterType="commonMap" resultType="commonMap">
		select CAST(sum(FEE) AS INTEGER ) SUM_FEE from (
		   select cast(greatest(
					   least((#{bid_price} - (ifnull(PRICE_FROM, 1) - 1))
						   , (ifnull(PRICE_TO, #{bid_price}) - (ifnull(PRICE_FROM, 1) - 1)))
				   , 0) * (RATE / 100) as INTEGER ) as FEE
		   from    SALE_BASE_FEE
		   where 	SALE_NO = #{sale_no} and FEE_KIND_CD = 'payment'
	   ) FEE
	</select>

	<select id="get_lot_fee" parameterType="commonMap" resultType="commonMap">
		select CAST(sum(FEE) AS INTEGER ) SUM_FEE from (
		   select IF(LCHK.STAT_CD = 'end' AND IFNULL(FEE, 0) > 0, FEE, cast(greatest(
						least((#{bid_price} - (ifnull(PRICE_FROM, 1) - 1))
							, (ifnull(PRICE_TO, #{bid_price}) - (ifnull(PRICE_FROM, 1) - 1)))
					, 0) * (RATE / 100) as INTEGER )) as FEE
		   from    LOT_FEE, (SELECT IF(CAST(NOW() AS DATETIME) > MAX(TO_DT), 'end', 'ing') AS STAT_CD FROM LOT WHERE SALE_NO = #{sale_no}) LCHK
		   where 	SALE_NO = #{sale_no} and LOT_NO = #{lot_no} and FEE_KIND_CD = 'payment'
	   ) FEE
	</select>

	<select id="selectLotPayByPayNo" parameterType="commonMap" resultType="commonMap">
		select * from LOT_PAY
		where PAY_NO = #{pay_no}
	</select>



	<!--아카데미 결제 테이블-->
	<insert id="insertAcademyPay" parameterType="commonMap">
		INSERT INTO ACADEMY_PAY (ACADEMY_NO, CUST_NO, PAY_NO)
		VALUES (#{academy_no}, #{cust_no}, #{pay_no})
	</insert>
	<insert id="insertAcademyReq" parameterType="commonMap">
		INSERT INTO ACADEMY_REQ (ACADEMY_NO, CUST_NO, REG_EMP_NO, PAYER, REG_DT)
		VALUES (#{academy_no}, #{cust_no}, #{reg_emp_no}, #{payer}, now())
	</insert>
	<!---->


	<insert id="insertPayWait" parameterType="commonMap" useGeneratedKeys="true" keyProperty="pay_no" keyColumn="PAY_WAIT_NO">
		INSERT INTO PAY_WAIT (CUST_NO, KIND_CD, REF_NO, REF_NO2, PAY_METHOD_CD, PG_CD, PG_TRANS_ID, PAYER, PAY_PRICE
			, STAT_CD, REG_DT, NO_VAT_PRICE, VAT_PRICE, VAT, UUID, VBANK_CD, VBANK_NM, VBANK_NUM, VBANK_EXP_DT, RCPT_TYPE
		) VALUES (#{cust_no}, lower(#{kind_cd}), #{ref_no}, #{ref_no2}, lower(#{pay_method_cd}), #{pg_cd}, #{pg_trans_id}, #{payer}, #{pay_price}
			, 'wait', now(), #{no_vat_price}, #{vat_price}, #{vat}, #{uuid}, #{vbank_cd}, #{vbank_nm}, #{vbank_num}, #{vbank_exp_dt}, #{rcpt_type}
		);
	</insert>

	<select id="selectPayWaitByUuid" resultType="commonMap" parameterType="commonMap">
		SELECT PAY_WAIT_NO, CUST_NO, KIND_CD, REF_NO, REF_NO2, PAY_METHOD_CD, PG_CD, PG_TRANS_ID, PAYER, PAY_PRICE, STAT_CD, REG_DT
            , NO_VAT_PRICE, VAT_PRICE, VAT, UUID, VBANK_CD, VBANK_NM, VBANK_NUM, VBANK_EXP_DT, RCPT_TYPE
		FROM PAY_WAIT
		WHERE uuid = #{uuid};
	</select>

	<select id="selectPayWaitByPayNoAndCustNo" resultType="commonMap" parameterType="commonMap">
		SELECT PAY_WAIT_NO, CUST_NO, KIND_CD, REF_NO, REF_NO2, PAY_METHOD_CD, PG_CD, PG_TRANS_ID, PAYER, PAY_PRICE, STAT_CD, REG_DT
			 , NO_VAT_PRICE, VAT_PRICE, VAT, UUID, VBANK_CD, VBANK_NM, VBANK_NUM, VBANK_EXP_DT, RCPT_TYPE
		FROM PAY_WAIT
		WHERE pay_wait_no = #{pay_no}
		  AND cust_no = #{cust_no};
	</select>

	<select id="selectAcademyPayByPayNo" resultType="commonMap" parameterType="commonMap">
		SELECT CUST_NO, PAY_NO, ACADEMY_NO
		FROM ACADEMY_PAY a
		WHERE pay_no = #{pay_no};
	</select>

	<select id="selectAcademyByAcademyNo" resultType="commonMap" parameterType="commonMap">
		SELECT ACADEMY_NO, ACADEMY_CD, column_json(TITLE_BLOB) TITLE_JSON, column_json(CONTENTS_BLOB) CONTENTS_JSON, FROM_DT, TO_DT, ACADEMY_TIME, ACADEMY_TIME_EN, IMG_PATH, IMG_VIEW_PATH
			, FILE_NAME, FILE_PATH, FILE_ORG_NAME, IMG_PATH_EN, IMG_VIEW_PATH_EN, FILE_NAME_EN
			, FILE_PATH_EN, FILE_ORG_NAME_EN, REG_DT, REG_EMP_NO, MOD_DT, MOD_EMP_NO, DEL_YN, DISP_YN, VIEW_FILE_NAME, VIEW_FILE_ORG_NAME
			, VIEW_FILE_NAME_EN, VIEW_FILE_ORG_NAME_EN, APPLICATION_FILE_NAME, APPLICATION_FILE_ORG_NAME, APPLICATION_FILE_PATH
			, ACADEMY_PAY, ACADEMY_PAY1, ACADEMY_PAY2, ACADEMY_PAY3, CLOSE_YN
		FROM ACADEMY a
		WHERE academy_no = #{academy_no};
	</select>

	<select id="selectCustByCustNo" parameterType="CommonMap" resultType="CommonMap">
		select CUST_NO, LOGIN_ID, CUST_NAME, HP, EMAIL, ADDR, ADDR_DTL
		from CUST
		where cust_no = #{cust_no};
	</select>
</mapper>