<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seoulauction.renewal.mapper.kt.PrivateSaleMapper">

    <select id="selectExhibitSale"  parameterType="CommonMap" resultType="CommonMap">
        select 	L.SALE_NO, L.LOT_NO, L.STAT_CD, L.FROM_DT, L.TO_DT
        , COLUMN_JSON(L.TITLE_BLOB) TITLE_JSON
        , LI.FILE_PATH as LOT_IMG_PATH
        , LI.FILE_NAME as LOT_IMG_NAME
        , COLUMN_JSON(L.MAKE_YEAR_BLOB) MAKE_YEAR_JSON
        , CD.CD_NM as MATE_NM
        from 	(select SALE_NO from SALE where STAT_CD = 'open'
        and SALE_KIND_CD in ('exhibit', 'exhibit_sa')
        order by  FROM_DT) as S
        inner join LOT L on L.SALE_NO = S.SALE_NO and L.IMG_DISP_YN = 'Y'
        left outer join LOT_IMG LI
        on LI.SALE_NO = L.SALE_NO and LI.LOT_NO = L.LOT_NO
        left outer join CODE CD on CD.grp_id = 'material' and CD.CD_ID = L.MATE_CD
        and LI.IMG_NO = (select A.IMG_NO from LOT_IMG A where A.SALE_NO = L.SALE_NO and A.LOT_NO = L.LOT_NO order by A.DISP_ORD limit 1)
        , (select SALE_NO from SALE where STAT_CD = 'open' and FROM_DT
                and SALE_KIND_CD in ('exhibit', 'exhibit_sa')
        order by  FROM_DT limit 1) as S1
        where 	L.SALE_NO = S1.SALE_NO
        order by L.TO_DT desc
            limit #{offset}, #{size}
    </select>

</mapper>